In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('lineup_past.csv')

In [10]:
df.loc[df['position']=='선발투수']

       Unnamed: 0      date  name team position  order
0               0  20200505   브리검   키움     선발투수      0
10             10  20200505   양현종  KIA     선발투수      0
20             20  20200505  알칸타라   두산     선발투수      0
30             30  20200505   차우찬   LG     선발투수      0
40             40  20200505  루친스키   NC     선발투수      0
...           ...       ...   ...  ...      ...    ...
26854       26854  20211020    켈리   LG     선발투수      0
26864       26864  20211020   신민혁   NC     선발투수      0
26874       26874  20211020   오원석  SSG     선발투수      0
26884       26884  20211020   소형준   KT     선발투수      0
26894       26894  20211020    멩덴  KIA     선발투수      0

[2694 rows x 6 columns]

In [2]:
import os
dir_path = "/home/se/paper/legacy/player"
file_list = os.listdir(dir_path)

In [19]:
# for index,file in enumerate(file_list):
#     file_path = os.path.join(dir_path,file)
#     os.rename(file_path,os.path.join(dir_path,str(index)+'.csv'))

In [3]:
columns = ['team','name','backNum','birth','position']
df = pd.DataFrame(columns=columns)

In [4]:
for index,file in enumerate(file_list):
    if '.csv' in file:
        player_data = pd.read_csv(os.path.join(dir_path,file))
        df = pd.merge(df, player_data, how='outer')

In [19]:
df = df.drop(labels='Unnamed: 0',axis=1)

### 선발투수